	<li>        
		<div>        
			<span class="bi bi-music-note-beamed"></span>
			<h3>{{ band }}</h3>
			<strong><p>{{ user.username }}</p></strong>
			<p>{{ event_description }}</p>
			<div class="social-btn">
				<button>
					<i class="bi bi-info-circle"></i> <a href='/post/{{ id }}' target="_blank">more info</a>
				</button>
			</div>
		</div>
	</li>