<section class="container">
    <div class="row new-post-form card">
        <h5 class="main-title text-center card-header">Create an Event</h5>
    
        <div class="col card-body">
            <form class="topBefore form">
                <input id="event-title" type="text" placeholder="EVENT">
                <input id="venue" type="text" placeholder="VENUE">
                <input id="city" type="text" placeholder="CITY">
                <input id="band" type="text" placeholder="BAND">
                <input id="genre" type="text" placeholder="GENRE">
                <input id="date" type="text" placeholder="DATE (ex. Oct 21, 2025)">
                <div class="staff-pick container">
                    <input name="staff-pick" value="Staff Pick" id="staff-pick" type="checkbox" placeholder="STAFF PICK">
                    <label for="staff-pick">This Event is a Staff Pick!</label><br>
                </div>
                <textarea id="event-description" type="text" placeholder="EVENT DESCRIPTION"></textarea>
                <input id="submit" type="submit" value="GO!">
            </form>
        </div>
    </div>
</section>
{{#if posts}}
<section class="container">
    <h5 class="main-title text-center">--Your Posts--</h5>
    {{#each posts as |post|}}
    <div class="cards col-md-6 col-lg-3 ">
        {{> post-info post }}
    </div>
    {{/each}}
</section>
{{/if}}