<section>
    <div class="container">
        <div class="row new-post-form">
            <div class="justify-content-center col-md-6">
                <form class="post-submit form">
                    <input id="event-title" type="text" placeholder="EVENT">
                    <br>
                    <input id="venue" type="text" placeholder="VENUE">
                    <br>
                    <input id="city" type="text" placeholder="CITY">
                    <br>
                    <input id="band" type="text" placeholder="BAND">
                    <br>
                    <input id="genre" type="text" placeholder="GENRE">
                    <br>
                    <input id="date" type="text" placeholder="DATE (ex. Oct 21, 2025)">
                    <br>
                    <textarea id="event-description" type="text" placeholder="EVENT DESCRIPTION"></textarea>
                    <br>
                    <input name="staff-pick" value="Staff Pick" id="staff-pick" type="checkbox" placeholder="STAFF PICK">
                    <label for="staff-pick">This Event is a Staff Pick!</label>
                    <br>
                    <div class="social-btn">
                        <button>
                            <i class="bi bi-arrow-right" id="submit" type="submit"></i>GO!
                        </button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <h5 class="main-title text-center">--Your Posts--</h5>
    {{#each posts as |post|}}
    <div class="cards col-md-6 col-lg-3 ">
        {{> post-info post }}
    </div>
    {{/each}}
</section>